<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ info['root'] }}</title>
</head>
<body>

<a href="{{ url_for('index') }}"> index </a>

<p>{{ info['root'] }}</p>
<p>dirs</p>

{% for name,url in info['dirs_info'].items() %}
<a href="{{ url_for('index',root=url) }}">
{{ name }}  {{ url }}/ <br> <br>
</a>
{% endfor %}


<p>videos</p>

{% for video_name in info['video_name'] %}
    <a href="{{ url_for('video',video_name=video_name) }}">
        {{ video_name }}
    </a>
&nbsp;
{% endfor %}

</body>
</html>